{% extends 'base.html' %}

{% block content %}

<h2>Expenses</h2>

<table class="table table-bordered">
    <tr>
        <th>Amount</th>
        <th>Category</th>
        <th>Date</th>
        <th>Note</th>
        <th>Actions</th>
    </tr>
    {% for expense in expenses %}

    <tr>
        <td>{{ expense.amount }}</td>
        <td>{{ expense.category }}</td>
        <td>{{ expense.date }}</td>
        <td>{{ expense.note }}</td>
        <td>
            <a href="/edit/{{ expense.id }}/"
               class="btn btn-warning btn-sm">
               Edit
            </a>
            <a href="/delete/{{ expense.id }}/"
               class="btn btn-danger btn-sm">
               Delete
            </a>

        </td>
    </tr>
    {% endfor %}
</table>
{% endblock %}